#support{
padding: 80px;
}
#support h4{
   color: #9b51e0;
   margin-bottom:30px ;
   margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   text-decoration: none;
}
#support h4 a{
   color: #9b51e0;
   margin-bottom:30px ;
   margin-top: 20px;
   
   cursor: pointer;
   text-decoration: none;
}
#support h5{
 font-size: 1.2rem;
 font-family:  sans-serif;
 
}
@media(max-width:600px){
   #support{
padding: 20px;
}
}