@media(min-width:920px){
#reg #sign-h1{

padding-left: 150px;
color: aliceblue;
}
}
@media(max-width:910px){
#reg #sign-h1{

padding-left: 150px;
margin-left: 50px;
color: aliceblue;
}
}

.sp{
    color:rgb(255, 0, 0);
    display:block;
}
label{
    display:block;
    color: aliceblue;
   
}
#reg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    width: 400px;
    
}
#reg-red{
    color: red;
}
@media(max-width:1120px){
    #link-f {
        margin-left: 80px;
    }
}
#reg{
   /* background: linear-gradient(36deg, rgba(10,10,98,1) 15%, rgba(8,78,161,1) 98%); */
   background: black;
   border-radius: 10px;
   display: block;
   margin: auto;
}
@media(max-width:768px){
    #reg{
      height: 850px;
       
    }
}
#reg-inp{
    border-radius: 30px;
   
}
#reg label,input{
   margin-left: -25px;
   display: flex;
   flex-wrap: wrap;
   margin-right: 20px;
}

#reg input:hover{
    background-color: aliceblue;
   
}
#reg input:focus{
    background-color: rgba(4, 123, 228, 0.644);
}
#reg input[type=submit]:hover{
    background-color: rgb(1, 8, 4);
}
#reg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    width: 400px;
    
}
#reg-red{
    color: red;
}
#reg-btn input{
    display: flex;
    flex-wrap:wrap ;
}