/* About Section */
#About {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 20px;
  position: relative;
  background-color: black;
  color: aliceblue;
}
#about-1{
  margin-top: 60px;
}
#about-1 h1 {
  font-size: 3em;
}
/* #about-1 h1 #abo #abo-1 h1{
font-size: 1em;
} */
#about-1 span {
  color: rgb(253, 252, 253);
  display: block;
  font-weight: 900;
  margin-left: -7px;
}
#about-1 .sp-2 {
  color: rgb(34, 136, 3);
}
#about-2 {
  margin-top: 90px;
  /* background-color: rgb(16, 4, 88); */
   background-image: linear-gradient(250deg, rgb(48, 0, 80) 0.400%, rgba(1,8,3,0.9) 260%);
  padding: 100px 20px;
  padding-bottom: 100px;
 
}

/* about horizontal */
#abo{
  
  
   display: grid;
   grid-template-columns:1fr 4fr;
  
}
#abo #abo-1{

 /* background-color: rgb(252, 251, 251); */
}

 #abo #abo-1 h1{
 
 
 /* margin-left: 50px; */
padding-top: 60px;
 writing-mode: vertical-lr;
 font-size: 1em;
 color: #fcfdfd;
 font-weight: 900;
 font-family: monospace;
 letter-spacing: 25px;
 transform: rotate(180deg);
 /* text-shadow: 0.3px 0.42px 2px rgb(247, 245, 245); */
 text-transform: uppercase;
} 
#about-1 h1 #abo #abo-1 h1{
  
   letter-spacing: 20px;
}
/* About Animation */
#abo #abo-1 h1{
   color: transparent;
   -webkit-text-stroke: 0.5px #fff;
   background-image: url(../images/b8.png);
   -webkit-background-clip: text;
  font-size: 2.4em;
  letter-spacing: 8px;
  margin-left: 18px;
  margin-bottom: 20px;
  animation: back 25s linear infinite;
}
@keyframes back{
  100%{
    background-position: 6000px 0px;
  }
}
@media(max-width:767px){
   #about-1 h1{
    font-size: 2.5rem;
   }
 #about-1 h1 #abo #abo-1 h1{
   font-size: 1.6em;
   letter-spacing: 30px;
}
}